<div id="contenedor" class="col-xs-14">
    <p class="login-box-msg"><h6>DOCENTE</h6></p>
    <p class="login-box-msg" style="padding-top: 6px;">Ingresa tus datos para iniciar sesión</p>
    <div class="col-auto" id="">
    <label class="sr-only" for="inlineFormInputGroup">Usuario</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-user"></i></div>
      </div>
      <input type="text" class="form-control" id="usuario" placeholder="Usuario" required autofocus>
    </div>
    </div>

    <div class="col-auto" id="">
      <label class="sr-only" for="inlineFormInputGroup">Documento</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-id-card"></i></div>
        </div>
        <input type="text" class="form-control" id="documento" placeholder="Documento" required autofocus>
      </div>
    </div>

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Contraseña</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-lock"></i></div>
        </div>
        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
      </div>
    </div>

    <div class="col-xs-12 center-block">
      <button type="submit" class="btn btn-danger btn-block btn-flat">Iniciar Sesión</button>
    </div>
      
  </div>
