<div class="container" id="contenedor">
    <div style="height:50px"></div>
    <div class="card">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Solicitud</h6>
            <h5 class="h3 mb-0">Documento</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="contenido_lista_empresa" style="border-top: 3px solid #3c8dbc; background-color: white; padding-bottom: 10px; padding-top:10px;">
      <h4>Asunto: Saludo</h4>
      <h4>Autor: Nicolas</h4>
      <h4>Mensaje:  Hola como estas </h4>
      <h4>Documento:</h4>
          <div class="embed-responsive embed-responsive-16by9" id="pdf" style="width: 50%;">
            <iframe class="embed-responsive-item" src="../../public/assets/archivosPrueba/1.pdf" allowfullscreen></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>