<div class="container" id="contenedor">

    <div class="card">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="h3 mb-0">Agregar Documento</h5>
                </div>
            </div>
        </div>
            <div class="card-body">
                <div class="box box-primary" style="border-top: 3px solid #3c8dbc; background-color: white; padding-bottom: 10px;">
                        <br>
                        <form class="formularioConvenio"  enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Nombre</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="">Autor</label>
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="">Etiqueta</label>
                                    <input type="email" class="form-control" required>
                                </div>
                                
                            </div>
                           
                            <div class="input-group mb-3" style="padding-left: 10px; padding-right: 10px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" >Cargar Documento</span>
                                    </div>

                                    <div class="custom-file">
                                        <input type="file" style="display:none" class="convenio custom-file-input" id="inputGroupFile012" aria-describedby="inputGroupFileAddon01" name="archivo">
                                        <label class="custom-file-label" for="inputGroupFile012">
                                            <p class="nameArchivo">...</p>
                                        </label>
                                    </div>
                                </div>
                            <button type="submit"  class="btn btn-primary" style="background-color: #dd4b39; border-color: #dd4b39;">Agregar</button>
                        </form>
            </div>
        </div>
    </div>
</div>